#loadSplash {
    max-width: 1000px;
    margin: auto;
}

#loadErrorSplash {
    text-align: left;
    max-width: 700px;
    color: #900;
    margin: auto;
    padding: 0 20px;
    border: 1px solid #900;
}

html,
body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        "Hiragino Sans GB", "WenQuanYi Micro Hei", STHeiti, "Microsoft Jhenghei",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    transition: 0.4s ease;
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
b {
    font-weight: 600;
}

h2 {
    font-size: 1.4em;
}

.float-win {
    position: absolute;
    position: fixed;
    z-index: 100;
    background: #eee;
    background-image: linear-gradient(to bottom, #fff, #eee);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    max-width: 70%;
}

.float-win-hidden {
    display: none;
}

.float-win-close {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    color: #fff;
    border: 0;
    background-color: #c43;
    background-image: linear-gradient(to bottom, #c43, #a32);
    border-left: 1px solid #ccc;
    cursor: pointer;
    font-size: 80%;
    width: 30px;
}

.float-win-title {
    position: relative;
    background: #579;
    font-size: 0.87em;
    background-image: linear-gradient(to bottom, #68a, #579);
    color: #eee;
    padding: 5px 15px;
    padding-right: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}

.float-win-content {
    max-height: 80vh;
    overflow: auto;
    padding: 10px 20px;
}

#editor_area {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    transition: opacity 0.4s;
    padding: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(102, 102, 102, 0.5);
}

#editor_area.loading_file {
    cursor: wait;
    pointer-events: none;
    opacity: 0.5;
}

#toc {
    float: left;
    margin-right: 10px;
    min-width: 300px;
    width: 25%;
    overflow-y: auto;
    height: 100%;
}

#toc .toc-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    color: var(--sideBarColor);
    padding: 0.5em;
}

#toc .toc-item:hover {
    background: var(--itemBgColor);
}

@media (max-width: 800px) {
    #toc {
        display: none;
    }

    .phone-hidden {
        display: none;
    }
}

body.loaded {
    max-width: 1800px;
    margin: 0 auto;
    background: var(--sideBarBgColor);
}

body.loaded #editor_area {
    display: block;
    z-index: 0;
}

body.loaded #tag-box {
    position: absolute;
    position: fixed;
    left: 5px;
    top: 5px;
    right: 5px;
    transition: 0.1s ease;
    overflow: hidden;
    box-sizing: border-box;
    color: #333;
    overflow-x: auto;
    overflow-y: hidden;
}

body.loaded #tag-box .tag {
    padding: 6px 16px;
    margin: 5px;
    line-height: 16px;
    font-size: 14px;
    border-radius: 16px;
    display: inline-block;
    border: 1px solid var(--themeColor);
    background-color: var(--itemBgColor);
    cursor: pointer;
}

body.loaded #tag-box .tag:hover {
    color: #fff;
    background: var(--focusColor);
}

body.loaded .CodeMirror {
    box-shadow: 0 2px 8px #ccc;
}

body.loaded #test-box .test-item {
    position: relative;
    vertical-align: middle;
    float: left;
    font-size: 15px;
    border-right: 1px solid #ccc;
}

body.loaded #test-box .test-sep,
body.loaded #test-box .test-item button {
    box-sizing: border-box;
    height: 50px;
    border: 0;
    cursor: pointer;
    padding: 0 20px;
    background: #fafafa;
    font-size: inherit;
    color: #333;
}

body.loaded #test-box .test-item button:hover {
    background: #fff;
    color: #000;
    border-bottom: 3px solid #4078c0;
}

body.loaded #test-box .test-sep {
    float: left;
    width: 1em;
    border-right: 1px solid #ccc;
    cursor: default;
}

body.loaded #test-box .test-item .test-tooltip {
    position: absolute;
    display: none;
    left: 0;
    top: 110%;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    white-space: nowrap;
}

body.loaded #test-box .test-item:hover .test-tooltip {
    display: block;
}

body.loaded #test-box .test-item.right {
    float: right;
    border-right: 0;
    border-left: 1px solid #ccc;
}

body.loaded #test-box .test-item.right .test-tooltip {
    left: auto;
    right: 0;
}

#winLab p {
    margin: 0;
    margin-bottom: 10px;
}

#winLab [lab-bind] {
    position: relative;
}

#winLab [lab-bind] .opt-tip {
    color: #900;
    left: 0;
    bottom: 100%;
    font-size: 90%;
    white-space: nowrap;
    background: #ffc;
    position: absolute;
    display: inline-block;
    border: 1px solid;
    padding: 0 3px;
    display: none;
    pointer-events: none;
}

#winLab [lab-bind] .opt-tip.at-right {
    left: initial;
    right: 0;
}

#winLab [lab-bind]:focus .opt-tip,
#winLab [lab-bind]:hover .opt-tip {
    display: block;
}

#winLab em {
    text-shadow: 0 0 3px #ff9;
}

/* SM.MS Image Hosting! */

.smms-hosted-items:before {
    content: "感谢 sm.ms 为 Demo 页提供图床";
    color: #900;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    background: #fff;
    padding: 4px 8px;
    border: 8px solid #900;
    pointer-events: none;
}

/* sponsors */

.sponsors > span {
    display: inline-block;
    border: 1px solid #999;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 87%;
}
