:root {
    --buttonBgColor: #ffffff;
    --buttonBgColorActive: #f0f0f0;
    --buttonBgColorHover: linear-gradient(#f9f9f9, #f2f2f2);
    --buttonBorder: 1px solid #dcdfe6;
    --buttonBorderActive: 1px solid #dcdfe6;
    --buttonBorderHover: 1px solid #dcdfe6;
    --buttonFocusBorder: 1px solid rgba(33, 181, 111, 1);
    --buttonFontColor: rgba(0, 0, 0, 0.7);
    --buttonFontColorActive: rgba(0, 0, 0, 0.7);
    --buttonFontColorHover: rgba(0, 0, 0, 0.7);
    --buttonPrimaryBgColor: rgba(33, 181, 111, 1);
    --buttonPrimaryBgColorActive: rgba(33, 181, 111, 1);
    --buttonPrimaryBgColorHover: rgba(33, 181, 111, 1);
    --buttonPrimaryBorder: none;
    --buttonPrimaryBorderActive: none;
    --buttonPrimaryBorderHover: none;
    --buttonPrimaryFocusBorder: none;
    --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(13, 91, 55, 0.5),
        0 0 0 1px rgba(33, 181, 111, 1);
    --buttonPrimaryFontColor: #ffffff;
    --buttonPrimaryFontColorActive: #ffffff;
    --buttonPrimaryFontColorHover: #ffffff;
    --buttonPrimaryShadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    --buttonShadow: none;
    --codeBgColor: rgba(216, 216, 216, 0.41176);
    --codeBlockBgColor: rgba(0, 0, 0, 0.03);
    --deleteColor: #ff6969;
    --editorAreaWidth: 750px;
    --editorBgColor: rgba(255, 255, 255, 1);
    --editorColor: rgba(0, 0, 0, 0.7);
    --editorColor04: rgba(0, 0, 0, 0.03);
    --editorColor10: rgba(0, 0, 0, 0.1);
    --editorColor30: rgba(0, 0, 0, 0.3);
    --editorColor40: rgba(0, 0, 0, 0.4);
    --editorColor50: rgba(0, 0, 0, 0.5);
    --editorColor60: rgba(0, 0, 0, 0.6);
    --editorColor80: rgba(0, 0, 0, 0.8);
    --floatBgColor: #fff;
    --floatBorderColor: rgba(0, 0, 0, 0.1);
    --floatFontColor: rgba(0, 0, 0, 0.6);
    --floatHoverColor: rgba(0, 0, 0, 0.04);
    --floatShadow: rgba(15, 15, 15, 0.03) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.04) 0px 3px 6px, rgba(15, 15, 15, 0.05) 0px 9px 24px;
    --focusColor: rgba(33, 181, 111, 1);
    --footnoteBgColor: rgba(0, 0, 0, 0.03);
    --highlightColor: rgba(33, 181, 111, 0.4);
    --highlightThemeColor: rgba(33, 181, 111, 1);
    --iconColor: #6b737b;
    --inputBgColor: rgba(0, 0, 0, 0.06);
    --itemBgColor: rgba(255, 255, 255, 0.6);
    --maskColor: rgba(232, 232, 232, 0.8);
    --notificationErrorBg: #ff6969;
    --notificationErrorColor: #ffffff;
    --notificationInfoBg: #909399;
    --notificationInfoColor: #ffffff;
    --notificationPrimaryBg: rgba(33, 181, 111, 1);
    --notificationPrimaryColor: #ffffff;
    --notificationWarningBg: #ff8800;
    --notificationWarningColor: #ffffff;
    --selectionColor: rgba(0, 0, 0, 0.1);
    --sideBarBgColor: rgba(242, 242, 242, 0.9);
    --sideBarColor: rgba(0, 0, 0, 0.6);
    --sideBarIconColor: #6b737b;
    --sideBarItemHoverBgColor: rgba(0, 0, 0, 0.03);
    --sideBarTextColor: rgba(0, 0, 0, 0.4);
    --sideBarTitleColor: rgba(0, 0, 0, 1);
    --tableBorderColor: #e5e5e5;
    --themeColor: rgba(33, 181, 111, 1);
    --themeColor10: rgba(33, 181, 111, 0.1);
    --themeColor20: rgba(33, 181, 111, 0.2);
    --themeColor30: rgba(33, 181, 111, 0.3);
    --themeColor40: rgba(33, 181, 111, 0.4);
    --themeColor50: rgba(33, 181, 111, 0.5);
    --themeColor60: rgba(33, 181, 111, 0.6);
    --themeColor70: rgba(33, 181, 111, 0.7);
    --themeColor80: rgba(33, 181, 111, 0.8);
    --themeColor90: rgba(33, 181, 111, 0.9);
    --titleBarHeight: 32px;
}
